NEXT_PUBLIC_SITE_URL=https://farteks.com
NEXT_PUBLIC_GA4_ID=

SMTP_HOST=mail.farteks.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=support@farteks.com
SMTP_PASS=
SMTP_FROM_EMAIL=support@farteks.com
SMTP_FROM_NAME=FARTEKS Website
SMTP_TO=info@farteks.com

NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=